body {
    margin: 0;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: gray;
    text-decoration: none;
}

a.current {
    color: red;
    text-decoration: underline;
}

h1 {
    text-align: center;
    font-size: 45px;
    border-bottom: 1px solid gray;
    margin: 0;
    padding: 20px;
}

ol {
    border-right: 1px solid gray;
    width: 100px;
    margin: 0;
    padding: 20px;
}

#grid {
    display: grid;
    grid-template-columns: 150px 1fr;
}

#grid ol {
    padding-left: 33px;
}

#grid #article {
    padding-left: 25px;
}

@media(max-width: 800px)
{
    #grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 1fr;
    }

    #grid ol{
        border-right: none;
    }

    #grid #article {
        border-right: none;
        border-top: 1px solid gray;
    }
}
